.App-logo {
  pointer-events: none;
  width: 200px;
  margin:20px
}

.App-header {
  background-color: #d2d6de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
.login-box-msg{
  display: flex;
  justify-content: center;
}

.table-bordered{
  width: 100% ;
}

.register-box {
  margin: 7% auto;
}

.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  width: 35%
}

.box-header {
  color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

 .box-header 
 .box-title {
  font-size: 18px;
  margin: 0;
  line-height: 1;
  justify-content: left;
  display: flex;
}

.login-box, .register-box {
  width: 360px;
  margin: 7% auto;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #f4f4f4;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.box-body>table>tbody>tr>td {
  font-size: 14px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #f4f4f4;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: #fff;
  text-decoration: none
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.btn {
   
    border: 1px solid transparent;
}

.col-xs-12 {
  width: 100%;
  padding-top: 7px;
  display: flex;
  justify-content: center;
}


.col-xs-12 a {
  font-size: 13px;
}

.btn-block {
  display: block;
  width: 100%;
  display: flex;
 justify-content: center;
 padding: 10px;
}

 .credentials {
  text-align: center;
  margin: 0 0 10px;
  color: #333;
  font-size: 14px;
}

.credentials-div {
  display: flex;
  justify-content: center;
  width:35%
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .register-box-body {
      width: 75%;
}

.credentials-div {

  width:75%
}
}

@media screen and (min-width: 360px) and (max-width: 375px) {
  .register-box-body {
      width: 75%;
}

.credentials-div {

  width:75%
}
}

@media screen and (min-width: 540px) and (max-width: 550px) {
  .register-box-body {
      width: 75%;
}

.credentials-div {

  width:75%
}
}

@media screen and (min-width: 280px) and (max-width: 290px) {
  .register-box-body {
      width: 65%;
}

.credentials-div {

  width:75%
}
}

@media screen and (min-width: 240px) and (max-width: 250px) {
  .register-box-body {
      width: 75%;
}

.credentials-div {

  width:75%
}
}